# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
site/
*.egg-info/
.eggs/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Local personal configs (never commit your own)
/config.toml
/config-*.toml

# Slurm batch logs & job files
batch*.err
batch*.out
batch*.sbatch
*.sbatch
*.log
*.run
myjob*.txt

# Editor / IDE
*.code-workspace
